/* main_title */
#main_box{background-image: linear-gradient( rgba(0, 0, 0, 0.525), rgba(0, 0, 0, 0.5) ), url(../IMG/main_bg.jpg); width:90%; height:750px; margin:0 auto; background-size: cover; border-radius:1.5%;}
#sub_box{background-image: linear-gradient(to bottom right, #00081d, #380822); width:90%; margin:0 auto; background-size: cover; border-radius:1.5%;}
#header{white-space:nowrap; width:95%; margin:0 auto;}
.header_nav{color:#fff; padding-right:50px; line-height:70px; font-weight:600;}

.title-font{text-align:left; word-break:keep-all;}

.movie_poster{border-radius:10px;}
#poster_box{text-align:center; white-space:nowrap; max-width:200px;}
.poster {display:inline-block;zoom:1;.display:inline;}

/*faq_style*/
.faq-title {
	font-size: 30px;
	color:#fff;
	padding-left:2%;
}
.faq-content {
	margin:0 auto;
	width: 90%;
	margin-top:15px;
	background-color:#132144;
}
.question {
	font-size: 19px;
	color:#fff;
	padding: 30px 0;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	width: 100%;
	text-align: left;
}
.question:hover {
	background-color: #223362;
}
button.question:focus{ 	
	border: none;
	outline:none;
}
.answer {
	display: none;	
	padding:25px 50px;
	word-break:keep-all; 
	font-size: 30px;
	border-top:2px solid #00081d;
	color:#fff;
	clear:both;
}
[id$="-toggle"] {
	margin-right: 15px;
	line-height:30px;
	font-size:2em;
	float:right;
}


@media screen and (max-width: 768px) {
	#nav_menu{display:inline-block;padding-top:20px;}
	.header_nav{color:#fff; padding-right:20px; line-height:70px; font-weight:600;}
	.login_wrap{position:absolute; top:10px; right:5px;}
}
